<section>
  <h3>What is SMARTA?</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in placerat elit. Nulla et lobortis odio, eu finibus tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque eu gravida tellus, vitae pellentesque mi. Aliquam id mauris arcu. Curabitur facilisis leo non sapien maximus pellentesque. Nulla ac euismod orci.
  </p>
  <p>
    Sed sit amet leo et velit condimentum sodales. Aliquam quis consectetur turpis. Quisque lorem eros, lobortis vitae massa quis, dictum faucibus urna. In iaculis velit quis ultrices rutrum. Sed in nisl id ex tempus laoreet ut vel lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla ac gravida quam.
  </p>
  <h3>What Data Does It Use?</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in placerat elit. Nulla et lobortis odio, eu finibus tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque eu gravida tellus, vitae pellentesque mi. Aliquam id mauris arcu. Curabitur facilisis leo non sapien maximus pellentesque. Nulla ac euismod orci.
  </p>
  <p>
    Sed sit amet leo et velit condimentum sodales. Aliquam quis consectetur turpis. Quisque lorem eros, lobortis vitae massa quis, dictum faucibus urna. In iaculis velit quis ultrices rutrum. Sed in nisl id ex tempus laoreet ut vel lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla ac gravida quam.
  </p>
  <h3>How Does It Help Cities Plan?</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in placerat elit. Nulla et lobortis odio, eu finibus tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque eu gravida tellus, vitae pellentesque mi. Aliquam id mauris arcu. Curabitur facilisis leo non sapien maximus pellentesque. Nulla ac euismod orci.
  </p>
  <p>
    Sed sit amet leo et velit condimentum sodales. Aliquam quis consectetur turpis. Quisque lorem eros, lobortis vitae massa quis, dictum faucibus urna. In iaculis velit quis ultrices rutrum. Sed in nisl id ex tempus laoreet ut vel lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla ac gravida quam.
  </p>
  <a routerLink="/map" routerLinkActive="active"><button class="btn btn-primary">Get Started!</button></a>
</section>
