<section>

  <h1 class="smarta"> SMARTA, <span class="smartan"> Smart Traffic Analytics </span></h1>

  <p> How much traffic does the city you live in get a day? How about a month or a year? </p>
  <p> Are traffic patterns in your jurisdiction any similar to what is observed in other localities or cities? </p>
  <p> What if you could better allocate resources and better justify investments in public services and infrastructure?  </p>

  <p> If you are a policy-maker and care about the urban life of the city residents you serve, SMARTA is just what you need.</p>

  <h3>What is <span class="smartai">SMARTA </span>? </h3>

  <p><span class="smartai">SMARTA (Smart Traffic Analytics)</span> is a smart city application specifically designed to support public management’s data-driven decision-making. By leveraging rich geographic data, <span class="smartai"> SMARTA </span> allows public officials to become better informed on traffic patterns and, henceforth, make better decisions abut what needs the city life. With <span class="smartai">SMARTA</span>, public managers can:</p>

  <ul>
    <li>  Query the total amount of traffic in a perimeter or region of the city for a given period </li>
    <li>  Accessing longitudinal data and trends overtime as well as peak times in locations of your choice  </li>
    <li>  Export data in different formats and further analyze it as you need</li>
  </ul>

  <h3>What Data Does It Use?</h3>
  <p>
    <span class="smartai">SMARTA</span> uses data collected from cameras(...)
  </p>

  <h3>How Does It Help Cities Plan?</h3>
  <p>
  <p>With <span class="smartai">SMARTA</span>, you can foster smart governance practices by gaining insights from data analytics on traffic. Below are some of the benefits of using SMARTA for evidence-based policy-making.</p>

  <h3>Discover circulation patterns in your city</h3>

  <p>How much variation in time and volume of cars could one observe during rush hour? Can we learn from spikes and trends from traffic on main streets? Public managers would say “yes”, and <span class="smartai">SMARTA</span> says “be my guest!”. Both in the realm of public transportation and citizen logistics, observing patterns dramatically help with problem framing and question asking. By making data understandable, <span class="smartai">SMARTA</span> brings forth the analytical capability you need to collect reliable data, derive insight, and enable action.</p>

  <h3>Maximize outputs from public policy planning efforts</h3>

  <p>Data is certainly becoming pervasive in our lives, but that does not translate into immediate usability. Insights also do not occur in a vacuum and, when it comes to planning, having good quality historical data is paramount to add predictability to public agencies’ routines and help them craft sound policy. <span class="smartai">SMARTA</span> blends the unparalleled reliability of sensor data with a user interface that yields a comfortable experience with analytics, facilitates planning endeavors and guides and helps policy-makers deciding what is the next good thing for the citizens.</p>

  <h3> Monitor progress and assess the effectiveness of public transit policies         </h3>

  <p> Planning is done? Policy is designed? Action is taken? How about assessing if your intervention really worked as expected? <span class="smartai">SMARTA</span>’s longitudinal approach to data brings offers the convenience of graphs over time and yields understanding about the extent to which public policies really went as expected. That is certainly the best way to optimize resource allocation on infrastructure and services and better justify tax-payer investments based on evidence. It is time to avoid opinion-based inputs and bring <span class="smartai">SMARTA</span>’s data visualizations to every table at the City Hall!   </p>

  <h3>Compare the traffic performance of your city with other jurisdictions</h3>

  <p> As pressure to deliver services efficiently increases, local governments are constantly looking for ways of becoming smarter and create value to citizens. Being able to benchmark against other cities for best practices is now more than desirable: it is critical to stay in the loop and have knowledge on how your city is positioned relative to other cities that also set out to become smart. <span class="smartai">SMARTA</span> makes it easy by allowing comparisons across cities and at your time of interest.</p>
  <a routerLink="/map" routerLinkActive="active"><button class="btn btn-primary">Get Started!</button></a>
</section>
